# ignore data files due to privacy and size
src/data/*

# keep the result files in the repo
!src/data/evaluation/metric_results/* 

# # ignore models due to size
src/model/models/*

# Keep directory structure
!/**/.gitkeep

# ignore caches
__pycache__/

# ignore job files
*.job
*.out
