# ignore data files
# src/data/*
# !data/**/.gitkeep


# # ignore caches
# __pycache__/

# # ignore models due to size
# src/models/*
# !models/**/.gitkeep

/src/data/evaluation/output/*
!/**/.gitkeep